<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorCategoria</servlet-name>
        <servlet-class>servlets.ControladorCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCliente</servlet-name>
        <servlet-class>servlets.ControladorCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorConsumo</servlet-name>
        <servlet-class>servlets.ControladorConsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEmpleado</servlet-name>
        <servlet-class>servlets.ControladorEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorHabitacion</servlet-name>
        <servlet-class>servlets.ControladorHabitacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPago</servlet-name>
        <servlet-class>servlets.ControladorPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProducto</servlet-name>
        <servlet-class>servlets.ControladorProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorReserva</servlet-name>
        <servlet-class>servlets.ControladorReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuario</servlet-name>
        <servlet-class>servlets.ControladorUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCargo</servlet-name>
        <servlet-class>servlets.ControladorCargo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVistaHabitaciones</servlet-name>
        <servlet-class>servlets.ControladorVistaHabitaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MiServlet</servlet-name>
        <servlet-class>backup.MiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSesion</servlet-name>
        <servlet-class>servlets.ControladorSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorConsultas</servlet-name>
        <servlet-class>servlets.ControladorConsultas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSesionSalir</servlet-name>
        <servlet-class>servlets.ControladorSesionSalir</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorCategoria</servlet-name>
        <url-pattern>/ControladorCategoria</url-pattern>
        <url-pattern>/MostrarCategoria.do</url-pattern>
        <url-pattern>/AgregarCategorias.do</url-pattern>
        <url-pattern>/EditarCategorias.do</url-pattern>
        <url-pattern>/ModificarCategorias.do</url-pattern>
        <url-pattern>/BorrarCategorias.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCliente</servlet-name>
        <url-pattern>/ControladorCliente</url-pattern>
        <url-pattern>/MostrarClientes.do</url-pattern>
        <url-pattern>/AgregarClientes.do</url-pattern>
        <url-pattern>/BorrarClientes.do</url-pattern>
        <url-pattern>/ModificarClientes.do</url-pattern>
        <url-pattern>/EditarClientes.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorConsumo</servlet-name>
        <url-pattern>/ControladorConsumo</url-pattern>
        <url-pattern>/MostrarConsumo.do</url-pattern>
        <url-pattern>/BorrarConsumo.do</url-pattern>
        <url-pattern>/AgregarConsumo.do</url-pattern>
        <url-pattern>/ModificarConsumo.do</url-pattern>
        <url-pattern>/EditarConsumo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEmpleado</servlet-name>
        <url-pattern>/ControladorEmpleado</url-pattern>
        <url-pattern>/MostrarEmpleados.do</url-pattern>
        <url-pattern>/AgregarEmpleados.do</url-pattern>
        <url-pattern>/BorrarEmpleados.do</url-pattern>
        <url-pattern>/ModificarEmpleados.do</url-pattern>
        <url-pattern>/EditarEmpleados.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorHabitacion</servlet-name>
        <url-pattern>/ControladorHabitacion</url-pattern>
        <url-pattern>/MostrarHabitaciones.do</url-pattern>
        <url-pattern>/AgregarHabitaciones.do</url-pattern>
        <url-pattern>/BorrarHabitaciones.do</url-pattern>
        <url-pattern>/ModificarHabitaciones.do</url-pattern>
        <url-pattern>/EditarHabitaciones.do</url-pattern>
        <url-pattern>/AbilitarAbitaciones.do</url-pattern>
        <url-pattern>/MostrarHabitacionesDisponibles.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPago</servlet-name>
        <url-pattern>/ControladorPago</url-pattern>
        <url-pattern>/MostrarPago.do</url-pattern>
        <url-pattern>/BorrarPago.do</url-pattern>
        <url-pattern>/AgregarPago.do</url-pattern>
        <url-pattern>/ModificarPago.do</url-pattern>
        <url-pattern>/EditarPago.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProducto</servlet-name>
        <url-pattern>/ControladorProducto</url-pattern>
        <url-pattern>/MostrarProductos.do</url-pattern>
        <url-pattern>/AgregarProductos.do</url-pattern>
        <url-pattern>/BorrarProductos.do</url-pattern>
        <url-pattern>/ModificarProductos.do</url-pattern>
        <url-pattern>/EditarProductos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorReserva</servlet-name>
        <url-pattern>/ControladorReserva</url-pattern>
        <url-pattern>/MostrarReservas.do</url-pattern>
        <url-pattern>/BorrarReservas.do</url-pattern>
        <url-pattern>/AgregarReservas.do</url-pattern>
        <url-pattern>/ModificarReservas.do</url-pattern>
        <url-pattern>/EditarReservas.do</url-pattern>
        <url-pattern>/MostrarReservasCanceladas.do</url-pattern>
        <url-pattern>/CambiarEstadoCancelada.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuario</servlet-name>
        <url-pattern>/ControladorUsuario</url-pattern>
        <url-pattern>/MostrarUsuarios.do</url-pattern>
        <url-pattern>/BorrarUsuarios.do</url-pattern>
        <url-pattern>/AgregarUsuarios.do</url-pattern>
        <url-pattern>/ModificarUsuarios.do</url-pattern>
        <url-pattern>/EditarUsuarios.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCargo</servlet-name>
        <url-pattern>/ControladorCargo</url-pattern>
        <url-pattern>/MostrarCargos.do</url-pattern>
        <url-pattern>/AgregarCargos.do</url-pattern>
        <url-pattern>/EditarCargos.do</url-pattern>
        <url-pattern>/ModificarCargos.do</url-pattern>
        <url-pattern>/BorrarCargos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVistaHabitaciones</servlet-name>
        <url-pattern>/ControladorVistaHabitaciones</url-pattern>
        <url-pattern>/MostrarVistaHabitaciones.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MiServlet</servlet-name>
        <url-pattern>/MiServlet</url-pattern>
        <url-pattern>/CrearRespaldo.do</url-pattern>
        <url-pattern>/MostrarPagina.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSesion</servlet-name>
        <url-pattern>/ControladorSesion</url-pattern>
        <url-pattern>/IniciarSesion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorConsultas</servlet-name>
        <url-pattern>/ControladorConsultas</url-pattern>
        <url-pattern>/ProductosCategorias.do</url-pattern>
        <url-pattern>/HabitacionesOcupadas.do</url-pattern>
        <url-pattern>/HabitacionesDisponibles.do</url-pattern>
        <url-pattern>/InformacionReservasCosto.do</url-pattern>
        <url-pattern>/InformacionEmpleadosCargos.do</url-pattern>
        <url-pattern>/EmpleadossinAcceso.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSesionSalir</servlet-name>
        <url-pattern>/ControladorSesionSalir</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
