<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hotel</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">root</property>
    <mapping resource="modelo/entidad/Pago.hbm.xml"/>
    <mapping resource="modelo/entidad/Categoria.hbm.xml"/>
    <mapping resource="modelo/entidad/Reserva.hbm.xml"/>
    <mapping resource="modelo/entidad/Empleado.hbm.xml"/>
    <mapping resource="modelo/entidad/Producto.hbm.xml"/>
    <mapping resource="modelo/entidad/Consumo.hbm.xml"/>
    <mapping resource="modelo/entidad/Cargos.hbm.xml"/>
    <mapping resource="modelo/entidad/Habitacion.hbm.xml"/>
    <mapping resource="modelo/entidad/Clientes.hbm.xml"/>
    <mapping resource="modelo/entidad/Usuarios.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
